NEXT_PUBLIC_SITE_NAME="Rabelo & Rocha Advogados"
NEXT_PUBLIC_SITE_URL="https://rabelorochadv.com.br"
DATABASE_URL="postgresql://rabelo:rabelo@localhost:5432/rabelorochadv?schema=public"
SESSION_SECRET="replace-with-32-byte-random-secret"
UPLOAD_DIR="./storage/uploads"
